* {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;    
}

header {
    display: flex;
    
    margin: 0;
    padding: .5em;
    
    box-shadow:
        0 6px 10px 0 rgba(0, 0, 0, 0.14), 
        0 1px 18px 0 rgba(0, 0, 0, 0.12),
        0 3px 5px -1px rgba(0, 0, 0, 0.3);

    cursor: default;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#logo {
    flex: 0 1 auto;

    width: 5em;
    height: 5em;

    image-rendering: pixelated;
}

#title {
    flex: 1 1 auto;
}

#title a {
    color: initial;
}

#title a:hover {
    text-decoration: underline;
}

#gh-link {
    flex: 0 1 auto;
}

#gh-mark {
    height: 5em;
}

#gh-mark:hover {
    filter: brightness(400%);
}

a, a:visited {
    text-decoration: none;
    color: blue;
}

button,
button:focus {
    color: white;

    border: none;
    outline: none;

    padding: 0;

    font-weight: bold;
    cursor: hand;
}

.true {
    background-color: green;
}

.false {
    background-color: red;
}